@use './variables' as v;
@use './mixins' as m;

*{
    transition: .3s;
}
body{
    font-family: "Inter", serif;
    background-color: black;
}

h1, h2,h3, h4, h5, h6{
    font-weight: 400;
}

p{
    font-weight: 200;
}

ul{
    list-style-type: none;
}

.max-width{
    max-width: 1250px !important;
    margin: 0 auto;
}

.btn-header {
    background-color: transparent !important; /* Fondo transparente */
    color: white !important; /* Texto blanco */
    border: none !important; /* Sin bordes */
    box-shadow: none !important; /* Sin sombras */
    text-transform: none; /* Evita que el texto se convierta en mayúsculas */
  }


.btn-public {
    padding: 15px 30px !important;
    text-decoration: none;
    color: v.$white;
    border: 1px solid v.$white;
    border-radius: 30px;
    font-size: 16px; // Tamaño base

    @media (max-width: 768px) {
        padding: 12px 25px !important;
        font-size: 14px; // Reducir el tamaño del texto
        border-radius: 25px;
    }

    @media (max-width: 480px) {
        padding: 10px 20px !important;
        font-size: 12px;
        border-radius: 20px;
    }
}

.title-global{
    font-size: 1.7rem;
    @include m.tablet {
        font-size: 2.5rem;
        font-weight: bold !important;
    }
}

.subtitle-global{
    font-size: 1rem;
    @include m.tablet {
        font-size: 2.5rem;
    }
}

.v-row{
    margin: 0 !important;
    @include m.tablet {
        margin: -12px !important;

    }
}

html {
    scroll-behavior: smooth;
  }
