.clientes-confianza {
  text-align: left;
  padding: 20px;
  color: white;
  padding-top:8rem ;
}

.text-clientes{
    max-width: 800px;
    b{
        font-size:48px !important;
    }
}

.clientes-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img-clientes{
    width: 100%;
    object-fit: cover;
    max-width: 700px;
}
