@use '../globales/variables' as v;

  /* Contenedor principal */
  .clientes-confianza {
    text-align: start; /* Alineado al centro para una mejor presentación */
    padding: 90px 20px;
    color: v.$white;
  }

  /* Título */
  .text-clientes {
    max-width: 800px;
    margin: 0;
    padding-bottom: 20px;

    b {
      font-size: 48px;
      display: block;

      @media (max-width: 768px) {
        font-size: 32px;
      }

      @media (max-width: 480px) {
        font-size: 24px;
      }
    }
  }

  /* Contenedor de la imagen */
  .clientes-grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Imagen */
  .img-clientes {
    width: 100%;
    max-width: 700px;
    object-fit: contain; /* Mantiene la imagen sin recortes */

    @media (max-width: 768px) {
      max-width: 90%;
    }

    @media (max-width: 480px) {
      max-width: 95%;
      transform: translateX(-18px);
    }
  }
