@use '../globales/variables' as v;
@use '../globales/mixins' as m;

.custom-stepper {
    background: transparent !important; /* Fondo transparente */
    color: v.$white !important;
    padding: 20px;
    border-radius: 12px;
    @media (max-width:480px) {
        .v-stepper-item__title{
            font-size: 11px !important;
            line-height:1.5;
            width: 80px;
        }
    }
  }

.imgNorte-conteiner{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.img-norte {
    max-width: 900px !important;
    width: 100%;
}

.mdi-checkbox-blank-outline::before {
    content: none !important;
}

.v-avatar.v-theme--light.v-avatar--density-default.v-avatar--variant-flat.v-stepper-item__avatar{
    width: 58px !important;
    height: 58px !important;
    font-size: x-large;
}

.contact-form-card{
    border-color: white !important;
    border-width: 1px !important;
    border-radius: 60px !important;
    margin-top: 45px !important;
    @media (max-width:480px){
        margin: 10px;
        margin-bottom: 0;
    }
}

.v-card--variant-elevated, .v-card--variant-flat {
    background: transparent!important;
}


.v-selection-control .v-label {
    white-space: normal;
    word-break: break-word;
    height: 100%;
    opacity: 1;
    color: white;
}

  .title-card-contact{
    color: white !important;

  }

  .title-card-contact-servicio{
    color: white !important;
    @media (max-width:480px) {
        font-size: 2rem !important;
    }
  }

  .custom-radio .v-label {
    color: white !important; /* Hace que el texto del radio sea blanco */
  }

  .custom-radio .v-selection-control__input {
    color: white !important; /* Hace que el círculo del radio sea blanco */
  }

  .conteiner-contact-info{
    padding: 10px !important;
    padding-top: 80px !important;
    padding-bottom: 40px !important;

    @media (max-width:480px){
        padding-top: 80px !important;
    }
  }

  .v-selection-control__input {
    border: 1px solid !important;
    border-color: white !important;
    width: 20px !important;
    height: 20px !important;
    background-color: transparent !important;

  }

@media (max-width:480px){
    .v-stepper--alt-labels .v-stepper-item{
        flex-basis: 115px !important;
      }
}


  .v-stepper--alt-labels .v-stepper-item__avatar.v-avatar {
    margin-bottom: 16px;
    margin-inline-end: 0;
    background-color: white !important;
    color: black !important;
}

/* Subrayado personalizado para redes sociales */
.social-link {
    color: white;
    text-decoration: none;
    position: relative;
    margin-left:10px;
  }

  .social-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 0;
  }

  /* Dirección en dos líneas */
  .address {
    white-space: pre-line; /* Permite los saltos de línea */
  }


.btn-form{
    border: 1px solid white !important;
    border-radius: 50px !important;
    text-transform: none !important;
    height: 72px;
    min-width: 164px;

}

.btn-form-siguiente{
    border: 1px solid white !important;
    border-radius: 50px !important;
    text-transform: none !important;
}


.btn-container-form-siguiente{
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    @media (max-width:480px) {
        padding-bottom: 35px;
        padding-top: 20px;
        width: 100%;
    }
}


.btn-container-form{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px ;
}

.btn-container-step2{
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
    @media (max-width:480px) {
        padding-bottom: 35px;
        padding-top: 20px;
        width: 100%;
    }
}

.btn-form-submit {
    background-color: #487EB0 !important;
    padding: 15px 30px !important;
    border: unset !important;
    border-radius: 50px !important;
    color: v.$white !important;
    filter: blur(5px) !important;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease !important;

    &:hover {
        background-color: rgba(72, 126, 176, 0.9) !important;
        filter: blur(0px) !important;
    }
}

.txt-enviar{
    position: absolute;
    left: 0;
    /* right: 0; */
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}


.title-contacto{
    max-width:853px;
    .text-contacto-title{
        color: v.$white !important;
        font-size: 48px !important;
        max-width: 603px;
        line-height: normal;

        @media (max-width:480px){
            font-size: 32px !important;
        }
    }
}

.v-stepper--alt-labels .v-stepper-header .v-divider {
    align-self: flex-start !important;
    margin: 51px -59px 0 !important;
}


@media (max-width:480px) {
    .v-stepper--alt-labels .v-stepper-header .v-divider{
        align-self: flex-start !important;
        margin: 52px -33px 0 !important;
    }

}

.item-contain-radio {
    flex-direction: row;
    @include m.tablet {
        flex-direction: row;
    }
}

.v-window.v-theme--light.v-stepper-window {
    margin: 0 !important;
    @include m.tablet {
        margin: 24px !important;
    }
}

.v-container.v-locale--is-ltr{
    padding: 0 !important;
    @include m.tablet {
        padding: 24px !important;
    }
}

.section-radio-btn{
    .v-selection-control .v-label{
        text-align:center;
    }
}

.btn-container-step3{
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
    @media (max-width:480px) {
        padding-bottom: 35px;
        padding-top: 20px;
        width: 100%;
    }
}

.custom-stepper {
    .v-divider {
        border-color: white !important;
        height: 0.2rem;
        opacity: 1;
    }
}



.v-stepper-item.v-stepper-item--selected{
    .v-avatar.v-theme--light.v-avatar--density-default.v-avatar--variant-flat.v-stepper-item__avatar{
        border: 2px solid transparent;
        transition: all 0.3s ease;
        background-color: rgba(0, 142, 188, 0.1); /* Fondo azul tenue */

        /* Sombra con los valores proporcionados */
        -webkit-box-shadow: -0.5px 0 20px 10.5px #487EB0;
        -moz-box-shadow: -0.5px 0 20px 10.5px #487EB0;
        box-shadow: -0.5px 0 20px 10.5px #487EB0; /* Sombra difusa y más grande */

        /* Resalta el borde con el color azul */
        background-color: rgba(0, 142, 188, 0.2); /* Fondo azul más intenso */
    }

    .v-stepper-item__content{
        padding-top: 14px;

        @media (max-width:480px){
            padding-top: 2px;
        }
    }
}


@media (max-width:480px) {
    .v-selection-control-group{
        .v-col-md-4.v-col-12{
            padding: 0;
            padding-left: 25px;
        }
    }

}
