    @use '../globales/variables' as v;

.discount-section {
    position: relative;
    width: 100%;
    height: 100%; // Ajusta según sea necesario
    display: flex;
    align-items: center;
    justify-content: center;
    color: v.$white;
    background-image: url('/images/sombra.svg'); // Ruta de la imagen de fondo
    background-size: cover;
    background-position: center;

    /* Capa de oscurecimiento */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); // Ajusta la opacidad
        z-index: 1;
    }
}

/* Ajustes para los textos pequeños */
.discount-text-left,
.discount-text-right {
    color: v.$white;
    font-size: 1.1rem;
    max-width: 250px;
    z-index: 3;
    text-align: left;
    @media (max-width:480px) {
        font-size: 0.8rem;
    }
}

.discount-text-left {
    height: 100%;
    padding-top: 8rem;
    @media (max-width:480px) {
        padding-top: 12rem;
    }
}

.discount-text-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    padding-left: 2rem;
}

/* Contenedor del texto */
.discount-text {
    z-index: 3;
    color: v.$white;
    text-align: center;
    max-width: 600px;

    h2 {
        font-size: 4rem;
        font-weight: bold;
    }

    p {
        font-size: 1.3rem;
        padding: 10px;
        @media (max-width:480px) {
            font-size: 0.8rem;
            padding: 0;
        }
    }
}


.descuento-contenedor{
    height: 550px !important;
}


.camino-descuento{
    position: absolute;
    top: 65%;
    left: 75%;
    z-index: 2;
    font-size: 2rem;
    font-weight: bold;
    height: 450px ;
    @media (max-width:480px) {
        height: 400px;
        top: 45%;
        left: 70%;
    }
}
