@use '../globales/variables' as v;

.discount-section {
    position: relative;
    width: 100%;
    height: 100%; // Ajusta según sea necesario
    display: flex;
    align-items: center;
    justify-content: center;
    color: v.$white;
    background-image: url('/images/sombra.svg'); // Ruta de la imagen de fondo
    background-size: cover;
    background-position: center;

    /* Capa de oscurecimiento */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); // Ajusta la opacidad
        z-index: 1;
    }
}

/* Ajustes para los textos pequeños */
.discount-text-left,
.discount-text-right {
    position: absolute;
    color: v.$white;
    font-size: 1rem;
    max-width: 250px;
    z-index: 3;
    text-align: left;
}

.discount-text-left {
    top: 30%;
    left: 17%;
}

.discount-text-right {
    top: 85%;
    right: 12%;
}

/* Contenedor del texto */
.discount-text {
    position: absolute;
    z-index: 3;
    color: v.$white;
    text-align: center;
    max-width: 600px;

    h2 {
        font-size: 4rem;
        font-weight: bold;
    }

    .bold {
        font-size: 4rem;
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke: 2px v.$white;
    }

    p {
        font-size: 1.2rem;
    }
}


.descuento-contenedor{
    height: 550px !important;
}


.camino-descuento{
    position: absolute;
    top: 60%;
    left: 75%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 2rem;
    font-weight: bold;
    height: 610px ;
}
