@use '../globales/variables' as v;
@use '../globales/mixins' as m;

.especialistas-garantia {
    color: white;
    text-align: center;
    padding: 40px;
    @media (max-width: 480px) {
        padding: 10px;
    }
  }

  .especialistas {
    background: black;
    border-radius: 8px;
    @media (max-width: 480px) {
        height: 180px;
    }

  }

  .conteiner-especialistas{
    justify-content: center;
  }

  .img-especialistas {
    width: 100%;
    max-width: 1250px;

    @media (max-width: 480px) {
        max-width: 100%;
        height: auto;
    }
}


.conteiner-descripcion {
    text-align: left !important;
    padding-left: 50px !important;
    transform: translateY(-140px);

    @media (max-width: 480px) {
        padding-left: 15px !important;
        transform: translateY(-50px);
    }
}

.descripcion {
    padding-bottom: 20px !important;
    font-size: 18px;
    width: 300px;

    @media (max-width: 480px) {
        font-size: 16px;
        width: 150px !important;
        padding-top: 15px;
    }
}


  .titulo {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .frio {
    color: #00aaff;
  }

  .clima {
    color: #66ccff;
  }

  .descripcion {
    padding-bottom: 20PX !important;
    font-size: 18px;
    width: 300px;
    @media (max-width: 480px) {
        justify-content: right;
        font-size: 12px;
    }
  }

  .garantia {
    margin-top: 40px;
    padding: 20px;
  }

  .subtitulo {
    font-size: 2rem;
    font-weight: bold;
  }

  .detalle {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .garantia-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
  }

  .item {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }

  .item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .item p {
    font-size: 1rem;
  }

  .info-container {
    background-color: black;
    padding: 2rem;
  }

  .text-white {
    color: white;
  }

  .info-item {
    margin-bottom: 1.5rem;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .info-image {
    max-width: 100%;
    border-radius: 8px;
    filter: grayscale(100%);
  }

.text-garantia{
    text-align: left;
    font-size: 1 rem;
    position: relative;
    .title-beneficios-text {
        font-size: 1.4rem;
        font-weight: bold;
    }
}

.title-garantia {
    font-size: 48px !important;
    font-weight: bold;
    line-height: normal;

    @media (max-width: 480px) {
        font-size: 26px !important;
        text-align: left;
    }
}

.subtitle-garantia {
    font-size: 48px !important;
    width: 600px;
    line-height: normal;

    @media (max-width: 480px) {
        font-size: 26px !important;
        width: 100%;
        text-align: left;
    }
}

.container-garantia{
    padding-bottom: 75px !important;
    @media (max-width: 480px) {
        padding-bottom: 25px !important;
        padding-top: 40px !important;
    }
}

.contain-image-kitchen{
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: 480px){
        .v-img::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; /* Ajusta el ancho del difuminado */
            height: 100%;
            background: linear-gradient(to left, rgb(3, 3, 3) 15%, rgba(0, 0, 0, 0) 60%);
        }
    }
}

.contain-texto-beneficios{
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 9%);
    transform: translateX(-30%);
    padding-left: 2rem;
    left: -5rem;
}

.image-container {
    display: flex;
    justify-content: center;
}

.info-image {
    max-width: 100%;
    border-radius: 8px;
    filter: grayscale(100%);

    @media (max-width: 480px) {
        max-width: 90%;
        height: auto;
    }
}

.text-garantia {
    text-align: left;
    font-size: 1rem;
    position: relative;

    @media (max-width: 480px) {
        text-align: left;
    }

    .title-beneficios-text {
        font-size: 1.4rem;
        font-weight: bold;
        font-style: italic;

        @media (max-width: 480px) {
            font-size: 1.2rem;
            font-style: italic;
        }
    }
}

.contain-texto-beneficios {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 9%);
    transform: translateX(-30%);
    padding-left: 2rem;
    left: -5rem;

    @media (max-width: 480px) {
        transform: none;
        padding-left: 0;
    }
}
