@use '../globales/variables' as v;
@use '../globales/mixins' as m;

.especialistas-garantia {
    color: white;
    text-align: center;
    padding: 40px;
    @media (max-width: 480px) {
        padding: 10px;
    }
  }

  .especialistas {
    background: black;
    border-radius: 8px;
  }

  .conteiner-especialistas{
    justify-content: center;
  }

  .img-especialistas{
    width: 100%;
    max-width: 1250px;
  }

  .titulo {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .frio {
    color: #00aaff;
  }

  .clima {
    color: #66ccff;
  }

  .conteiner-descripcion{
    text-align: left !important;
    padding-left: 50px !important;
    transform: translateY(-140px);
  }

  .descripcion {
    padding-bottom: 20PX !important;
    font-size: 18px;
    width: 300px;
  }

  .garantia {
    margin-top: 40px;
    padding: 20px;
  }

  .subtitulo {
    font-size: 2rem;
    font-weight: bold;
  }

  .detalle {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .garantia-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
  }

  .item {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }

  .item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .item p {
    font-size: 1rem;
  }

  .info-container {
    background-color: black;
    padding: 2rem;
  }

  .text-white {
    color: white;
  }

  .info-item {
    margin-bottom: 1.5rem;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .info-image {
    max-width: 100%;
    border-radius: 8px;
    filter: grayscale(100%);
  }

.text-garantia{
    text-align: left;
    font-size: 1 rem;
    position: relative;
    .title-beneficios-text {
        font-size: 1.4rem;
        font-weight: bold;
    }
}

.title-garantia{
    font-size: 48px !important;
    font-weight: bold;
    line-height: normal;
    @media (max-width: 480px) {
        max-width: 100%;
        font-size: 1.5rem;
        margin: 0;
    }
}
.subtitle-garantia{
    font-size: 48px !important;
    width: 600px;
    line-height: normal;
    @media (max-width: 480px) {
        max-width: 100%;
        height: 10px;
        font-size: 1rem !important;
    }
}

.container-garantia{
    padding-bottom: 75px !important;
}

.contain-image-kitchen{
    width: 100%;
    display: flex;
    align-items: center;
}

.contain-texto-beneficios{
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 9%);
    transform: translateX(-30%);
    padding-left: 2rem;
    left: -5rem;
}
