@use '../globales/variables' as v;
@use '../globales/mixins' as m;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopM: 950px;
$desktopL: 1100px;
$desktopXL: 1200px;
$desktopXXL: 1400px;


.hero-section {
    color: v.$white;
    min-height: 90vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100% !important;
    @media (max-width: 480px) {
        padding-top: 80px !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        min-height: 0;
    }

}

.title-home{
    font-size: 50px !important;
}

.subtitle-home{
    font-size: 22px !important;
}

.text-service{
    width: 100%;
    top: 50%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 1rem !important;
    z-index: 2;
    h1{
        font-size: 45px;
    }
    .subtitle{
        margin-bottom: 1rem;
    }
    @media (max-width: $desktop){
        max-width: 350px;
        h1{
            font-size: 25px;
        }
    }
    @media (max-width: $telefono){
        max-width: 350px;
        h1{
            font-size: 12px;
        }
        .subtitle{
            font-size: 10px;
        }
    }
    @include m.desktop {
        display: none;
    }
}

.map-wrapper {
    display: flex;
    justify-content: end;
}

.map-image {
    width: 100%;
    height: 100%;
}

.map-container{
    position: absolute;
    top: 0;
    padding-top: 6vh;
    right: 0;
    left: 0;
    @include m.desktop {
        padding-top: 3vh;
    }
}

.van-image {
    width: 100%;
    height: 100%;
}

.home-section {
    @include m.desktop{
        height:100vh;
    }
}

.home-images{
    padding-top: 120px !important;
    width: 100% !important;
    height: 100% !important;
}

.image-furgo{
    z-index: 1;
    position: relative;
    width: 46% !important;
    @include m.desktop {
        .text-service.text-service-desktop{
            display: block;
        }
    }
}

.furgo-text{
    z-index: 2;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top:1.5vh;
    @include m.desktop {
        position: relative;
        top: 1vh;
    }
}

.text-service-desktop {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 2rem !important;
    z-index: 2;
    @media (max-width: $desktop) {
        display: none !important;
    }
}


// Contenedor de contenido móvil
.mobile-content {
}

// Imagen en móviles
.mobile-illustration {
    width: 100%;
    height: auto;
}

// Título en móviles
.mobile-title {
    font-size: 36px;
    color: v.$white;
    margin-bottom: 10px;
    line-height: normal;
}

// Subtítulo en móviles
.mobile-subtitle {
    font-size: 18px;
    color: v.$white;
    max-width: 350px;
    margin-bottom: 25px;
    line-height: normal;
}

// Ocultar contenido de escritorio en móviles
@media (max-width: $tablet) {
    .home-images {
        display: none;
    }
}

.container-btn-movil-inicio{
    background-color: transparent !important; /* Fondo transparente */
    color: white !important; /* Texto blanco */
    border: none !important; /* Sin bordes */
    box-shadow: none !important; /* Sin sombras */
    text-transform: none;
}

.btn-movil-inicio {
    border-color: white;
    width:190px;
    height: 50px !important;
    font-size: 10px !important;
  }

.container-subtitle-movile{
    max-width: 341px;
}

.container-title-movile{
    max-width: 331px;
}

.container-text-movile-inicio{
    padding: 10px;
}
