@use '../globales/variables' as v;

.hero-section {
    color: v.$white;
    min-height: 90vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.map-container {
    text-align: center;
    position: absolute;
    top: 2vh;
    left: 62%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 950px;
}

.map-wrapper {
    position: relative;
    display: inline-block;
    padding-left: 180px !important;
}

.map-image {
    width: 100%;
    max-width: 950px;
    height: auto;
}

.van-image {
    width: 100%;
    max-width: 570px;
    padding-left: 10px;
}

.home-section {
    padding-left: 80px !important;
}

.text-service {
    text-align: left;
    width: 500px !important;
    z-index: 1;
    position: absolute;
    top: 0;
    padding-top: 300px !important;

    .subtitle {
        text-align: left;
        width: 400px !important;
        padding-top: 25px !important;
        padding-bottom: 15px !important;
    }
}

.path-wrapper {
    z-index: 2;
    position: absolute;
}
