@use '../globales/variables' as v;

.expansion-preguntas{
    background-color: transparent;
    border-color: transparent;
    color: white;
    .v-expansion-panel{
        background-color: transparent;
        color: white;
    }
}

.v-expansion-panel:not(:first-child)::after{
    background-color: #4b4a4a;
}

.card-nosotros{
    text-align: center !important;
    color: white !important;
    padding: 20px !important;
    background-color: transparent !important;
    .v-avatar{
        border-radius: 50px !important;
        border-color: white !important;
    }
}

.card-fotos{
    padding: auto;
    color:white !important;
}
.title-nosotros{
    font-size: 2.5rem;
    font-weight: bold !important;
}

.title-nosotros-beneficios{
    font-size: 2.5rem;
    width: 600px;
    padding-bottom: 20px;
}

.subtitle-nosotros{
    font-size: 2.5rem;
    font-weight:normal;

}

.container-text{
    max-width: 550px;
    padding-left: 25px !important ;
}

.title-equipo{
    font-size: 2.4rem;
    max-width: 650px;
    padding-left: 20px;
    padding-bottom: 60px;
}

.container-equipo-text{
    max-width: 550px;
}

.avatar-beneficios{
    width: 58px !important;
    height: 58px !important;
}

.title-beneficios{
    padding-top: 25px;
    padding-bottom: 25px;
}
