.services-section {
    margin: auto;
    padding: 20px;
    text-align: left;
    color: white;
    position: relative;
  }
  .title {
    margin-bottom: 20px;
  }
  .services-container {
    position: relative;
  }
  .service-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .service-text, .service-details {
    flex: 1;
    color: white !important;
  }
  .service-details {
    text-align: left !important;
  }
  .service-details b {
    color: #52a8ff; /* Azul brillante para destacar */
  }

.service-image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .van-image-service {
    width: 100%;
  }

  .transparent-panel {
    background: transparent !important;
  }
  .transparent-panel-item {
    background: transparent !important;
    color: white;
    .v-expansion-panel-text__wrapper {
        padding: 8px 24px 16px;
        flex: 1 1 auto;
        max-width: 100%;
        color: white;
    }
    .v-expansion-panel-title{
        color: white !important;
    }
  }

  .v-expansion-panel:not(:first-child)::after{
    border-top-style:inherit !important;
  }

  .toggle-icon {
    color: white;
    padding-left: 10px !important;
  }
