@use "../globales/variables" as v;

.tarifas {
    margin: auto;
    padding: 20px;
    color: v.$white;
  }

  .title-tarifa {
    margin-bottom: 20px;
  }
  .tarifas-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
  }
  @media (min-width: 768px) {
    .tarifas-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .tarifa-item {
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    display: flex !important;
    flex-direction: column !important;
  }

  .tarifa-content{
    padding: 10px !important;
    margin-top: 10px !important;
    border-radius: 20px !important;
  }

  .tarifa-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 0px !important;
  }

  .tarifa-title {
    font-size: 20px;
    font-weight: bold;
    background-color: transparent !important; /* Fondo transparente */
    border: none !important; /* Asegúrate de que no tenga bordes que interfieran */
  }

  .title-tarifa {
    background-color: transparent !important; /* Si es necesario, también haz transparente el fondo del contenedor */
  }

  .ul-tarifa {
    list-style: none;
    padding: 0;
  }
  .ul-tarifa li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
  }
  .check-icon {
    font-size: 20px;
  }
  .tarifa-footer {
    margin-top: 30px;
    text-align: center;
  }
  .tarifa-info {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 15px;
  }
  .btn-tarifas {
    color: white;
    border-color: white;
    width: 100%;
  }
